{% extends 'partial/base.html' %}
{% block title  %}Logout page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-0">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <h3>Logout page</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>You have been logged out</h4>
                </div>
                <a href="{% url 'user_login' %}">Login</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
